# Atividade de Revisão

#### 1) Imprima a frase “Tópicos Especiais em Desenvolvimento de sistemas!"

In [1]:
print('Tópicos Especiais em Desenvolvimento de sistemas!')

Tópicos Especiais em Desenvolvimento de sistemas!

#### 2) Faça operações matemáticas de soma, subtração, multiplicação e divisão entre dois valores.

In [2]:
n1 = float(input('Insira o primeiro valor: '))
n2 = float(input('Insira o segundo valor: '))
print('Soma: ',(n1+n2))
print('Subtração: ',(n1-n2))
print('Multiplicação: ',(n1*n2))
print('Divisão: ',(n1/n2))

Insira o primeiro valor: 5
Insira o segundo valor: 2
Soma:  7.0
Subtração:  3.0
Multiplicação:  10.0
Divisão:  2.5

#### 3) Imprima o tipo de um determinado valor inteiro.

In [3]:
valor_inteiro = int(12)
print(type(valor_inteiro))

<class 'int'>

#### 4) Converta o valor passado anteriormente para o tipo float

In [4]:
valor_inteiro = float(valor_inteiro)
print(type(valor_inteiro))

<class 'float'>

#### 5) Faça a conversão do valor float recebido anteriormente para o tipo string

In [5]:
valor_inteiro = str(valor_inteiro)
print(type(valor_inteiro))

<class 'str'>

#### 6) Utilizando funções de arredonamento faça:
• Arredonde o valor 2.898  
• Arredonde o valor 2.4545455 e exiba apenas 4 cadas decimais

In [6]:
print(round(2.898))
print(round(2.4545455, 4))

3
2.4545

#### 7) Utilizando variáveis faça:
• Defina uma variável com o seu nome e imprima o seu valor.  
• Imprima o tipo dessa variável.  
• Substitua o valor da sua variável nome com a concatenação do seu valor e o seu sobrenome,
depois, imprima o novo valor.  
▪ obs: O resultado dessa variável será Nome Sobrenome, exemplo, Wellington Moraes.   
• Defina duas variaveis com os valores do seu email e idade com apenas uma linha de comando,
depois, imprima seus valores.

In [7]:
meu_nome = 'Ewerton'
print(meu_nome)

print(type(meu_nome))

sobrenome = 'Belo'
meu_nome += ' '+sobrenome
print(meu_nome)

email, idade = 'ewerton.bello1212@gmail.com', 20
print('E-mail:',email)
print('Idade:',idade)

Ewerton
<class 'str'>
Ewerton Belo
E-mail: ewerton.bello1212@gmail.com
Idade: 20

#### 8) Explique a causa do erro se executar a seguinte instrução para criar uma nova variável: break=10

##### R: break é uma palavra reservada, não pode ser usada como variavel.

#### 9) Sobre os objetos Strings, faça:
• Defina uma variavel com a string: "Python é uma maldição!" e imprima  
• Imprima o primeiro caracter da variavel.  
• Imprima os valores do primeiro caracter até o 6.  
• Faça a contagem de todos os caracteres utilizando uma única linha de comando.  
• Faça uma contagem de quantos vezes a palavra dados aparece na seguinte frase: "dados é o novo petróleo, em Deus eu confio, para o resto me traga dados.."  

• Substitua o primeiro caracter da frase acima para maiúsculo  
• Quebre as palavras da frase separado por virgula, criando uma lista.

In [8]:
frase = 'Python é uma maldição!'
print(frase)

print(frase[0])

print(frase[0:6])

print(len(frase))

frase2 = 'dados é o novo petróleo, em Deus eu confio, para o resto me traga dados..'
print(frase2.count('dados'))

frase2 = frase2.lower().capitalize()
print(frase2)

arr_frase2 = frase2.split(',')
print(arr_frase2)

Python é uma maldição!
P
Python
22
2
Dados é o novo petróleo, em deus eu confio, para o resto me traga dados..
['Dados é o novo petróleo', ' em deus eu confio', ' para o resto me traga dados..']

#### 10) Trabalhando com Listas, faça:
• Cria uma lista de valores inteiros com o nome idades.  
• Imprima apenas segundo elemento da lista.  
• Imprima a contagem de valores da lista.  
• Substitua o valor do segundo elemento da lista e imprima o resultado.  
• Imprima apenas os valores do segundo elemento em diante.  
• Remova qualquer elemento da lista e imprima o resultado.  
• Defina uma lista chamada salarios com os valores : 900,1200,1500,800,12587,10000.  
• Verifique se contém o valor 10000 na lista de salarios.  
• Imprima o menor e maior valor da lista.  
• Adicione o valor 7000 a lista.  
• Extenda a lista com dois novos elementos utilizando apenas um método.  
• Imprima o índice do elemento de valor 800 da lista de salarios.  
• Faça uma ordenação dos valores da lista de salarios em ordem crescente e decrescente.

In [9]:
idades = [21,15,17,19]

print(idades[1])

print(len(idades))

idades[1] = 12
print(idades[1])

for i in range(1, len(idades)):
    print(idades[i])
    
del idades[1]
print(idades)

salarios = [900,1200,1500,800,12587,10000]
# try:
#     if salarios.index(10000):
#         print("Existe 10000 na lista")
# except:
#     print("A lista não contém o valor 10000")
exist = False
for salario in salarios:
    if salario == 10000:
        exist = True
if exist:
    print("Existe 10000 na lista")
else:
    print("A lista não contém o valor 10000")
    
salarios.sort()
print("Menor:",salarios[0])
print("Maior:",salarios[len(salarios)-1])

salarios.append(7000)
print(salarios)

salarios.extend([12, 13000])
print(salarios)

print(salarios.index(800))

salarios.sort()
print(salarios)

salarios.sort(reverse = True)
print(salarios)

15
4
12
12
17
19
[21, 17, 19]
Existe 10000 na lista
Menor: 800
Maior: 12587
[800, 900, 1200, 1500, 10000, 12587, 7000]
[800, 900, 1200, 1500, 10000, 12587, 7000, 12, 13000]
0
[12, 800, 900, 1200, 1500, 7000, 10000, 12587, 13000]
[13000, 12587, 10000, 7000, 1500, 1200, 900, 800, 12]

#### 11) Trabalhando com arquivos
• Crie um arquivo txt com o nome Registro.txt  
• Abra-o no modo de escrita insira o texto: Desenvolver programas em python é mil graus :)  
• Apresente quantos caracteres possui o arquivo  
• Acrescente o texto: Python tem inúmeras bibliotecas para trabalhar com computação científica  
• Mostre o conteúdo do arquivo

In [10]:
with open("Registro.txt", "w", encoding='utf-8') as reg:
    reg.write("Desenvolver programas em python é mil graus :)")
    
    
with open("Registro.txt", "r", encoding='utf-8') as reg:
    print(len(reg.read()))
    
with open("Registro.txt", "a", encoding='utf-8') as reg:
    reg.write("\nPython tem inúmeras bibliotecas para trabalhar com computação científica")

with open("Registro.txt", "r", encoding='utf-8') as reg:
    print(reg.read())

46
Desenvolver programas em python é mil graus :)
Python tem inúmeras bibliotecas para trabalhar com computação científica